
.pointer{
	cursor:pointer
}

.hide{
  display:none
}

.bottomleft {
    position: absolute;
    bottom: 14px;
    left: 1px;
    font-size: 18px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.3);
    width: 100%;
    height: auto;
}


.btn-float {
    position: fixed;
    padding: 14px;
    top: 100px;
    left: 10px;
    width: 50px; 
    height: 50px; 
    background: #66BB6A; 
    -moz-border-radius: 50px; 
    -webkit-border-radius: 50px; 
    border-radius: 50px; 
    box-shadow: 1px 1px 10px #9E9E9E;
}

.btn-options{
    position:fixed;
    top: 160px;
    left: 20px;
}


#shadow {
    box-shadow: 1px 1px 10px #9E9E9E;
}


.face:hover {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}